.RightSide {
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: space-evenly;
    flex: 50px;

}
.RightSide h3 {
    margin-left: -100px;
}

.RightSide p {
    margin-left: -130px;
}

@media screen and (max-width: 1330px) {
    .RightSide .updates-h3 {
        margin-left: 20px;
    }
    .RightSide .cr-h3 {
       margin-left: -10px;
    }
    .RightSide .cr-section {
        margin-left: 50px;
    }
}

@media screen and (max-width: 1200px) { 
    .RightSide .updates-h3 {
        margin-left: -10px;
    }    
}

@media screen and (min-width: 1330px) { 
    .RightSide .cr-h3 {
        margin-left: -0.1200px;
    }
    .RightSide .cr-section {
        margin-left: -60px;
    }
    .RightSide .updates-h3 {
        margin-left: -50px;
    }
}
/* .RightSide .CustomerReview {
    padding-left: -1500px;
} */

/* @media screen and (max-width: 1519px) {
    .RightSide h3{
         margin-left: 50px;
    }
    .RightSide p {
        padding-left: 190px;
    }
 }

 @media screen and (min-width: 1523px) {
    .RightSide {
         margin-left: 130px;
    }

 } */